<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galgespil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hangman"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hangman"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".TomHighScoreAktivitet"></activity>
        <activity android:name=".TabtSpilAktivitet" />
        <activity android:name=".HighscoresAktivitet" />
        <activity android:name=".IndstillingerAktivitet" />
        <activity android:name=".VundetSpilAktivitet" />
        <activity android:name=".StartSpilAktivitet" />
        <activity android:name=".HjælpAktivitet" />
        <activity android:name=".AfbrudtSpilAktivitet"/>
        <activity
            android:name=".Hovedmenu"
            android:label="s185108 Marias's Galgespil">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>